<main role="main" class="container">
	<div class="starter-template">
		<%if params[:q].present?%>
			<h1>Search for <%=params[:q]%></h1>
		<%elsif params[:set].present?
			str = ""
			params[:set].each do |x| 
				str = str + CardSet.find(x)['code'] + "," 	
			end
			str = str[0...-1] 
		%>
			<h1>Search Sets:  <%=str %></h1>
		<%end%>

	</div>
	<%= form_tag url_for(:controller => 'cards', :action => 'search'), :method => 'get' do %>
		<%= hidden_field_tag 'q', params[:q] %>
		<%if not params[:set].nil?%>
			<% params[:set].each do |x|%>
				<%= hidden_field_tag 'set[]', x %>
			<%end%>
		<%end%>
		<%= check_box_tag 'foil[]', '1',params[:foil].nil? || params[:foil].include?('1'), onchange: 'this.form.submit();' %>
		<%=label_tag 'Foils'%>&nbsp;
		<%= check_box_tag 'foil[]', '0', params[:foil].nil? || params[:foil].include?('0'), onchange: 'this.form.submit();' %>
		<%=label_tag 'Non-Foils'%>
	<%end%>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Card</th>

			<th>TCG Mid</th>
			<th>Card Kingdom</th>
			<th>Spread</th>
			
		</tr>
<% 
		@cards.each do |x| 
			prices = Price.where(card_id: x.id)[0]
			tcg_price = prices['tcg_price']
			ck_price = prices['ck_price']
			spread = prices['spread']
			setCode = CardSet.where(id: x.card_set_id)[0]['code']
			
%>
			<tr>
				<td><%=x['name']  %> (<%=setCode%>) <%if x['is_foil'] %><span class="foil">✦</span><%end%><%= %> </td>
				<td><%=number_to_currency(tcg_price)%></td>
				<td><%=number_to_currency(ck_price)%></td>
				<td><%=number_to_percentage(spread,  precision:2)%></td>
			</tr>
<%
		end

%>
	</table>
</main>



